<%# add navigation links to this file %>
<li><%= link_to '/', page_path('home') %></li>
<li><%= link_to 'About', page_path('about') %></li>
<li><%= link_to 'Teams', page_path('teams') %></li>
<li><%= link_to 'Players', page_path('players') %></li>
<li><%= link_to 'Sport Leagues', page_path('sports') %></li>